:root {
    --primary-color: #808DB3;
    --secondary-color: #C0AFB8;
    --accent-color-1: #ffc78b;
    --accent-color-2: #420d00;
    --heading-font: "Sansita", san-serif;
    --text-font: "Roboto", san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: var(--primary-color)
}

body {
    font-family: var(--text-font);
    color: var(--accent-color-2)
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color-1);
    color: #fff;
}

article {
    position: absolute;
    top: 6em;
    left: 1em;
    width: 800px;
    background-color: var(--accent-color-1);
}

.hero article img {
    float: right;
    width: 125px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.social a {
    text-decoration: none;
}

.socials img {
    width: 50px;
    height: auto;
}