:root {
    --text-centering: text-align: center;
    --auto-height: height: auto;
    --pixel-border: border: 1px;
    --solid-border: border: solid;
}

body {
    font-family: 'Comic Sans';
    font-size: 20px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    font-family: 'Arial Black';
}

main img {
    width: 150px;
    height: var(--auto-height);
    border: var(--pixel-border) var(--solid-border) #E0B0FF;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    max-width: 840px;
}

main {
    max-width: 800px;
}

p {
    padding: 0;
    font-family: 'roboto';
}

aside {
    width: 20rem;
    margin: 20px;
    border: var(--pixel-border) var(--solid-border) darkgray;
    padding: 1rem;
    background-color: white;
    color:black;
    text-align: var(--text-centering);
}

aside img {
    width: 200px;
    height: var(--auto-height);
}

footer {
    margin-top: 30px;
    border-top: 1px solid white;
    text-align: var(--text-centering)
}

header {
    font-family: 'Sansita';
}